
	body {
		background-color: #FFF39B;
		font-family: arial;
		
	}
	img {
		display: block;
		margin: auto;
	}
	.parrafo  {
		color: #000000;
		font-size: 17pt;
	}
	h1 {
		color: #990000;
		background-color: #FC9804;
		text-align: center;
	}
	h2 {
		color: #990000;
		background-color: #FC9804;
		text-align: center;
	}
	h3 {
		color: #990000;
		background-color: #FC9804;
		text-align: center;
	}
	h4 {
		color: #990000;
		background-color: #FC9804;
	}
	a{ 
		color:#FC9804; 
	} 
		a:hover{ 
		color:#B31CFF; 
	} 
	
	#main-container{
	margin: 100px auto;
	width: 800px;
}

table{
	background-color: #E98400;
	text-align: center;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #FFC49B;
	color: black;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}